<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <brite-input label="Search" name="search" [debounceTime]="1000" formControlName="search"
    (debouncedValue)="onDebouncedSearch($event)"></brite-input>

  <brite-input label="Username" name="username" formControlName="username"></brite-input>
  <div class="error-message" *ngIf="form.get('username')?.invalid && form.get('username')?.touched ">
    <small *ngIf="form.get('username')?.hasError('required')">Username is required.</small>
    <small *ngIf="form.get('username')?.hasError('minlength')">Username must be at least 3 characters long.</small>
  </div>
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>

<brite-sidebar></brite-sidebar> -->

