.table-container {
  border-radius: 8px;
  border: 1px solid var(--Borders-Border-2, #e7e7e7);
  overflow-x: scroll;
  // overflow-y: hidden;
  width: 100%;
  max-width: 1052px;
  position: relative;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch;
}

thead th {
  background: var(--Backgrounds-Background-3, #f0f0f8);
  color: var(--Text-Body-3, #6d6d6d);
  font-family: Archia;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 32px;
  position: relative;
  padding: 8px 16px;

}

td {
  opacity: 1 !important;
  height: 80px;
  padding: 24px 16px;
  background-color: white;
  color: var(--Text-Body-1, #454545);
  font-family: Archia;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
th{
  opacity: 1 !important;
    position: relative;
    width: 240px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

tr {
  border-bottom: 1px solid var(--Borders-Border-2, #E7E7E7);;
  background: var(--Widgets-Background, #fff);
  display: flex;
  align-items: center;
  opacity: 1;
 &:last-child {
    border-bottom: none;
  }
}
.icon-pin {
  border: 0px;
  cursor: pointer;
}
.pin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8px 12px;
  & button{
    background-color: transparent;
  }
}

.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
}
