<div class="p-2">
  <div class="table-container">

    <table [style.width.px]="table.getTotalSize()">
      <thead>
        @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
          <tr>

            @for (header of headerGroup.headers; track header.id;let i=$index) {
              <!-- IMPORTANT: This is where the magic happens! -->

              <th
                [attr.colSpan]="header.colSpan"
                [ngStyle]="getCommonPinningStyles(header.column)"
              >
              @if(i==0){
                <input
                type="checkbox"
                class="checkbox"
                [checked]="table.getIsAllRowsSelected()"
                (change)="toggleSelectAll($event)"
              />
               }

                <div class="whitespace-nowrap">
                  @if (!header.isPlaceholder) {
                    <ng-container
                      *flexRender="
                        header.column.columnDef.header;
                        props: header.getContext();
                        let headerValue
                      "
                    >
                      {{ headerValue }}
                    </ng-container>
                  }
                </div>
              </th>
            }
          </tr>
        }
      </thead>
      <tbody>
        @for (row of table.getRowModel().rows; track row.id) {
          <tr>
            @for (cell of row.getVisibleCells(); track cell.id; let i = $index) {


              <td [ngStyle]="getCommonPinningStyles(cell.column)">
                @if(i==0){
                  <input
                  class="checkbox"
                  type="checkbox"

                  (change)="row.toggleSelected()"
                  (click)="selectRow(row.id)"
                  />
                }
                <ng-container
                  *flexRender="
                    cell.column.columnDef.cell;
                    props: cell.getContext();
                    let cellValue
                  "
                >
                  {{ cellValue }}
                </ng-container>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


